{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type='text/css' href="{% static 'css/form.css' %}">
{% endblock head %}

{% block content %}



  <div class="page-header">
    {% if object %}
      <h1>Edit {{object.name}} </h1>
    {% else %}
      <h1>Add a Star</h1>
    {% endif %}
  </div>
  <img 
  src="{% static 'images/Universe-man-sitting.jpg' %}" 
  alt="A Universe Creating a star"
  height="450px"
  width="300px"
  />
  <h3>Star Overlord is curious to your Discovery!</h3>
  <form action="" method="post" class="form-container">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit" class="btn submit">Submit!</button>
  </form>

{% endblock content %}