{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/star-detail.css' %}"
/>
<script defer src="{% static 'js/star-detail.js' %}"></script>
{% endblock head %}

{% block content %}

<section class="star-container">
  <div class="star-img">
  {% if star.photo.url %}
    <img 
      src="{{star.photo.url}}" 
      alt="A photo of {{star.name}}"
      class="usr-img"
    >
  {% else %}
    <img 
      src="{% static 'images/Dark-Skies-NM-The-World-At-Large-.png' %}" 
      alt="NM Dark Sky"
      width='200'
      height='100'
    >
  {% endif %}
  </div>
  <div class="star-details">
    <h1>{{ star.name }}</h1>
    <p>A {{star.type}} Star that is {{star.distance}} light years away from our solar system in the Constellation of {{star.constellation}}.</p>
    <div class="star-actions">
      <a href="{% url 'stars_update' star.id %}" class="btn warn">Edit</a>
      <a href="{% url 'stars_delete' star.id %}" class="btn danger">Delete</a>
      <h3>Change {{ star.name }}'s photo</h3>
    <p id="file-name"></p>
    <form 
      action="{% url 'add_photo' star.id %}"
      enctype="multipart/form-data"
      method="POST"
    >
      {% csrf_token %}
      <label class="btn secondary">
        Choose photo
        <input type="file" name="photo-file" id="file-input">
      </label>
      <button type="submit" class="btn submit">Upload Photo</button>
    </form>
    </div>
  </div>
</section>
<div class="exoplanets-atmosphere-container">
  <section class="exoplanets">
    <div class="subsection-title">
      <h2>Exoplanets</h2>
      <img 
        src="{% static 'images/Planets.png' %}" 
        alt="Scattered planets"
      />
    </div>
    <h3>Add an Exoplanet</h3>
    <form action="{% url 'add_exoplanet' star.id %}" method="post" class="subsection-content">
      {% csrf_token %}
      {{ exoplanet_form.as_p }}
      <button type="submit" class='btn submit'>Add Exoplanet</button>
    </form>
    <h3>Observed Exoplanets</h3>
    <table>
      <thead>
        <tr><th>Exoplanet</th><th>Atmosphere</th></tr>
      </thead>
      <tbody>
        {% for exoplanet in star.exoplanet_set.all %}
          <tr>
            <td>{{exoplanet.name}}</td>
            <td>{{exoplanet.atmosphere}}
            <a href="{% url 'exoplanet_update' exoplanet.id %}" class="btn warn">Edit</a>
            <a href="{% url 'exoplanet_delete' exoplanet.id %}" class="btn danger">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock content %}