{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/star-detail.css' %}"
/>
{% endblock head %}

{% block content %}

<section class="star-container">
  <div class="star-img">
    This will be where the star image is
  </div>
  <div class="star-details">
    <h1>{{ star.name }}</h1>
    <p>A {{star.type}} Star that is {{star.distance}} light years away from our solar system in the Constellation of {{star.constellation}}.</p>
    <div class="star-actions">
      <a href="{% url 'stars_update' star.id %}" class="btn warn">Edit</a>
      <a href="{% url 'stars_delete' star.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="exoplanets-atmosphere-container">
  <section class="exoplanets">
    <div class="subsection-title">
      <h2>Exoplanets</h2>
      <img 
        src="{% static 'images/Planets.png' %}" 
        alt="Scattered planets"
      />
    </div>
    <h3>Add an Exoplanet</h3>
    <form method="post" class="subsection-content">
      {% csrf_token %}
      {{ exoplanet_form.as_p }}
      <button type="submit" class='btn submit'>Add Exoplanet</button>
    </form>
    <h3>Observed Exoplanets</h3>
    <table>
      <thead>
        <tr><th>Exoplanet</th><th>Atmosphere</th></tr>
      </thead>
      <tbody>
        {% for exoplanet in star.exoplanet_set.all %}
          <tr>
            <td>{{exoplanet.name}}</td>
            <td>{{exoplanet.atmosphere}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock content %}