{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/jpg"
    href="{% static 'images/pexels-rakicevic-nenad-1274260.jpg' %}"
  >
  <link rel="stylesheet" type='text/css' href={% static 'css/base.css' %}>
  <title>Star Collector</title>
  {% block head %}
  {% endblock %}
</head>
<body>{% comment %} <body style="background-image: url('{% static 'images/space.jpg' %}')"> {% endcomment %}
  <header>
    <div class="header-logo-container">
      <h1>
      <a href="/">
        <img
          src="{% static 'images/pexels-rakicevic-nenad-1274260.jpg' %}" 
          alt="The Star Collector Logo"
        >
        Star Collector
      </a>
    </h1>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'stars_index' %}">All Stars</a></li>
          <li><a href="{% url 'stars_create' %}">Add a Star</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'home' %}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>